EMBARAZO_NORMAL/PRIMERACONSULTAAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.sacyl.es/hurh/bpmn/pca/PRIMERACONSULTAAP" xmlns:tns6="http://xmlns.sacyl.es/hurh/bpmn/pca/embarazo"  xmlns:tns="http://xmlns.sacyl.es/hurh/bpmn/pca/PRIMERACONSULTAAP"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.sacyl.es/hurh/bpmn/pca/PRIMERACONSULTAAP">
            <xsd:import namespace="http://xmlns.sacyl.es/hurh/bpmn/pca/embarazo" schemaLocation="xsd/hurh-bpm-embarazo.xsd"/>
            <xsd:element name="catchEvent">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="primeraConsultaAPStartIN" type="tns6:PrimeraConsultaAPStartType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="catchEvent">
        <wsdl:part name="parameters" element="tns:catchEvent"/>
    </wsdl:message>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:portType name="PRIMERACONSULTAAPPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PRIMERACONSULTAAPPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
        <wsdl:operation name="catchEvent">
            <wsdl:input message="tns:catchEvent"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="PRIMERACONSULTAAPPortTypePartnerLinkType">
        <plnk:role name="PRIMERACONSULTAAPPortTypeProvider">
            <plnk:portType name="tns:PRIMERACONSULTAAPPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
